<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
    <f:section name="stylesheets">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/main.css', package: 'Js.FamilyHelp')}">
    </f:section>
    <f:section name="headScripts">
        <script src="{f:uri.resource(path: 'JavaScript/vendor/modernizr.js', package: 'Js.FamilyHelp')}"></script>
    </f:section>
</head>
<body>
<f:section name="body">
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
        <div class="row header">
            <div class="col col-12 col-sm-5 col-lg-3">
                <a href="#">
                    <img src="{f:uri.resource(path: 'Images/family_help_Skala.jpg', package: 'Js.FamilyHelp')}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col col-12 col-lg-9">
                <nav class="navbar navbar-toggleable-md navbar-light">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">


                        {parts.menu -> f:format.raw()}
                        <!--
                        <ul class="navbar-nav">
                            <li class="">
                                <a class="nav-link active" href="#">Zweck des Vereins</a>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Projekte
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">baby hilfe</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Vorstand</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Vereinsentstehung</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Kontakt</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Spenden</a>
                            </li>
                        </ul>
                        -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-lg-8 offset-sm-2 offset-lg-3">

                {content.main -> f:format.raw()}

            </div>
        </div>
        <div class="footer">
            {footer -> f:format.raw()}
        </div>
    </div>

</f:section>
<f:section name="bodyScripts">
    <script src="{f:uri.resource(path: 'JavaScript/vendor.js', package: 'Js.FamilyHelp')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/plugins.js', package: 'Js.FamilyHelp')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/main.js', package: 'Js.FamilyHelp')}"></script>
</f:section>
</body>
</html>
