<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
    <f:section name="stylesheets">
        <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/main.css', package: 'Js.FamilyHelp')}">
        <link rel="apple-touch-icon" sizes="57x57" href="{f:uri.resource(path: 'Favicons/apple-icon-57x57.png', package: 'Js.FamilyHelp')}">
        <link rel="apple-touch-icon" sizes="60x60" href="{f:uri.resource(path: 'Favicons/apple-icon-60x60.png', package: 'Js.FamilyHelp')}">
        <link rel="apple-touch-icon" sizes="72x72" href="{f:uri.resource(path: 'Favicons/apple-icon-72x72.png', package: 'Js.FamilyHelp')}">
        <link rel="apple-touch-icon" sizes="76x76" href="{f:uri.resource(path: 'Favicons/apple-icon-76x76.png', package: 'Js.FamilyHelp')}">
        <link rel="apple-touch-icon" sizes="114x114" href="{f:uri.resource(path: 'Favicons/apple-icon-114x114.png', package: 'Js.FamilyHelp')}">
        <link rel="apple-touch-icon" sizes="120x120" href="{f:uri.resource(path: 'Favicons/apple-icon-120x120.png', package: 'Js.FamilyHelp')}">
        <link rel="apple-touch-icon" sizes="144x144" href="{f:uri.resource(path: 'Favicons/apple-icon-144x144.png', package: 'Js.FamilyHelp')}">
        <link rel="apple-touch-icon" sizes="152x152" href="{f:uri.resource(path: 'Favicons/apple-icon-152x152.png', package: 'Js.FamilyHelp')}">
        <link rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(path: 'Favicons/apple-icon-180x180.png', package: 'Js.FamilyHelp')}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{f:uri.resource(path: 'Favicons/android-icon-192x192.png', package: 'Js.FamilyHelp')}">
        <link rel="icon" type="image/png" sizes="32x32" href="{f:uri.resource(path: 'Favicons/favicon-32x32.png', package: 'Js.FamilyHelp')}">
        <link rel="icon" type="image/png" sizes="96x96" href="{f:uri.resource(path: 'Favicons/favicon-96x96.png', package: 'Js.FamilyHelp')}">
        <link rel="icon" type="image/png" sizes="16x16" href="{f:uri.resource(path: 'Favicons/favicon-16x16.png', package: 'Js.FamilyHelp')}">
        <link rel="manifest" href="{f:uri.resource(path: 'Favicons/manifest.json', package: 'Js.FamilyHelp')}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{f:uri.resource(path: 'Favicons/ms-icon-144x144.png', package: 'Js.FamilyHelp')}">
        <meta name="theme-color" content="#ffffff">
    </f:section>
    <f:section name="headScripts">
        <script src="{f:uri.resource(path: 'JavaScript/vendor/modernizr.js', package: 'Js.FamilyHelp')}"></script>
    </f:section>
</head>
<body>
<f:section name="body">
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container">
        <div class="row header">
            <div class="col col-12 col-sm-5 col-lg-3">
                <a href="http://www.family-help.ch">
                    <img src="{f:uri.resource(path: 'Images/family_help_Skala.jpg', package: 'Js.FamilyHelp')}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col col-12 col-lg-9">
                <nav class="navbar navbar-toggleable-md navbar-light">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">


                        {parts.menu -> f:format.raw()}
                        <!--
                        <ul class="navbar-nav">
                            <li class="">
                                <a class="nav-link active" href="#">Zweck des Vereins</a>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Projekte
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">baby hilfe</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Vorstand</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Vereinsentstehung</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Kontakt</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Spenden</a>
                            </li>
                        </ul>
                        -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-lg-8 offset-sm-2 offset-lg-3">

                {content.main -> f:format.raw()}

            </div>
        </div>
        <div class="footer row">
            <div class="col-sm-8 col-lg-8 offset-sm-2 offset-lg-3">
                {footer -> f:format.raw()}
            </div>
        </div>
    </div>

</f:section>
<f:section name="bodyScripts">
    <script src="{f:uri.resource(path: 'JavaScript/vendor.js', package: 'Js.FamilyHelp')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/plugins.js', package: 'Js.FamilyHelp')}"></script>
    <script src="{f:uri.resource(path: 'JavaScript/main.js', package: 'Js.FamilyHelp')}"></script>
</f:section>
</body>
</html>
