.neos-nodetypes-form {

}

label {
  margin-bottom: 2px;
}

.input {

  margin-bottom: 1em;

  input,
  textarea {
    width: 100%;
    max-width: 768px;

    padding: 0.5em;
    border: 1px solid $form-border-color;

    &.error {
      border-color: $form-error-color;
    }
  }

  input[type="submit"] {

  }
}

.form-navigation ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.help-inline {
  color: $form-error-color;
}