@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=a69ed247-03b0-4a8a-8885-5427db2494dc");
@font-face {
    font-family: "futura-pt";
    src: url("../fonts/Futura/17abcb18-cb81-4d9c-b55c-5ded2109e506.eot?#iefix");
    src: url("../fonts/Futura/17abcb18-cb81-4d9c-b55c-5ded2109e506.eot?#iefix") format("eot"), url("../fonts/Futura/aafdd021-88d4-41d8-8e15-fe91f83e4b17.woff2") format("woff2"), url("../fonts/Futura/81d44d4b-ac07-4ad4-8cdd-4df771a3c1c3.woff") format("woff"), url("../fonts/Futura/f47c9a36-7884-483a-80d7-57f9ee691407.ttf") format("truetype"), url("../fonts/Futura/b6a5374f-5656-4627-b423-1ba121767464.svg#b6a5374f-5656-4627-b423-1ba121767464") format("svg");
    font-weight: 400;
}

@font-face {
    font-family: "futura-pt";
    src: url("../fonts/Futura/c0b084f4-7139-4e63-ba96-7f3a421195c3.eot?#iefix");
    src: url("../fonts/Futura/c0b084f4-7139-4e63-ba96-7f3a421195c3.eot?#iefix") format("eot"), url("../fonts/Futura/f7552419-a773-41ab-ae4a-b12b1d853f02.woff2") format("woff2"), url("../fonts/Futura/83e72918-97c3-41cd-8a7d-4056788a00f0.woff") format("woff"), url("../fonts/Futura/5b88228b-bd3b-49f4-b7c2-db89968ce116.ttf") format("truetype"), url("../fonts/Futura/20048613-c880-452b-a12c-fc1ea23e8d5f.svg#20048613-c880-452b-a12c-fc1ea23e8d5f") format("svg");
    font-weight: 500;
}

@font-face {
    font-family: "futura-pt";
    src: url("../fonts/Futura/40d43dca-5382-4730-9fe0-12297d982530.eot?#iefix");
    src: url("../fonts/Futura/40d43dca-5382-4730-9fe0-12297d982530.eot?#iefix") format("eot"), url("../fonts/Futura/6650716f-e079-48f1-861d-00f498c16e8e.woff2") format("woff2"), url("../fonts/Futura/21fe5b07-01c8-4b82-8e0b-2bf22f6481fa.woff") format("woff"), url("../fonts/Futura/ecfba8b5-c926-413d-8ef7-36873ee7e39e.ttf") format("truetype"), url("../fonts/Futura/07af89fc-cc7d-41bc-9a2b-ff72607df969.svg#07af89fc-cc7d-41bc-9a2b-ff72607df969") format("svg");
    font-weight: 700;
}
