
// Navbar
//

$navbar-item-padding: 1.2rem;

.navbar {

  .dropdown-menu {
    border: $navbar-border-width $navbar-border-style  $fh-blue;
    top: 82%;
  }

  text-transform: lowercase;
  font-weight: bold;
  font-size: 1.1em;

  .navbar-nav > li > a {
    letter-spacing: 1px;
  }


  @include media-breakpoint-up(lg) {
    top: 24px;
    padding-left: 0;
    margin-left: -$navbar-item-padding;

    .navbar-nav > li > a {
      border: $navbar-border-style transparent;
      border-width: $navbar-border-width $navbar-border-width 0 $navbar-border-width;
      margin-left: $navbar-border-width;

      &.active {
        background: $white;
        border-radius: .5em .5em 0 0;
        border-color: $fh-blue;
      }
    }
    .navbar-nav .nav-link {
      padding-left: $navbar-item-padding;
      padding-right: $navbar-item-padding;
    }
  }
  @media screen and (min-width: 1200px) {
    top: 39px;
  }
}