h1.js-familyhelp-splash {
  text-transform: none;
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: normal;

  font-family: $special-font-family;

  @include media-breakpoint-up(lg) {
    max-width: 70%;
  }
}